In [3]:
#Johnny's mom told him if he managed to save atleast $100 by the end of the week she would give him an extra $10 dollars\
#If not she would prefer not to give him the extra dollars.

In [5]:
def add_10(m):
    if m >= 100:
        m = m + 10
        return m
    else:
        return "save more"

In [7]:
add_10(110)

120

In [9]:
add_10(50)

'save more'

In [11]:
def compare_the_two(a,b):
    if a > b:
        return "Greater"
    elif b > a:
        return "Less"
    else:
        return "Equal"

In [13]:
#creating functions that contain a few arguments

In [15]:
def subtract_bc(a,b,c):
    result = a - b*c
    print ('parameter a equals', a)
    print ('parameter b equals', b)
    print ('parameter c equals', c)
    return result

In [17]:
subtract_bc(10,3,2)

parameter a equals 10
parameter b equals 3
parameter c equals 2

4

In [19]:
#notable built-in functions in Python

In [21]:
type(10)

int

In [23]:
#type() obtains the type of variable you use in an argument.

In [25]:
# int(), float(), str() transform their arguments in an interger, float and string data trpe, respectively

In [27]:
int(5.7)

5

In [29]:
float(3)

3.0

In [31]:
str (500)

'500'

In [33]:
#max() returns the highest value from a sequence of numbers

In [35]:
max(10,20,30)

30

In [37]:
#min() returns the lowest value from a sequence of numbers

In [39]:
min(10,20,30)

10

In [41]:
#abs()allows you to obtain the absolute value of its argument

In [43]:
z = -20
abs(z)

20

In [50]:
list_1= [1,2,3,4]
sum(list_1)

10

In [52]:
#round(x,y) returns the float of its argument (x), rounded to a specified number of digits (y) after the decimal point.

In [54]:
round(3.555,2)

3.56

In [56]:
round(3.2)

3

In [58]:
#if the number of digits is not indicated it defaults to zero.

In [60]:
2 ** 10

1024

In [62]:
pow(2,10)

1024

In [64]:
len('Mathematics')

11

In [66]:
max(25,65,890,15)

890

In [68]:
min(25,65,890,15)

15

In [70]:
abs(-100)

100

In [72]:
round(55.5)

56

round(35.56789,3)

In [76]:
round(35.56789,3)

35.568

In [78]:
Numbers= [1,5,64,24.5]
sum(Numbers)

94.5

In [80]:
pow(10,3)

1000

In [82]:
len("Elephant")

8

In [88]:
def distance_from_zero(x):
    if type(x) == int or type(x) == float:
        return abs(x)
    else:
        print ("Not possible")

In [90]:
distance_from_zero(-10)

10

In [92]:
distance_from_zero("cat")

Not possible

In [94]:
#sequence-lists

In [96]:
Participants = ['John', 'Leila', 'Gregory', 'Cate']
Participants

['John', 'Leila', 'Gregory', 'Cate']

In [98]:
#To extract a name from the list we use name_of_list [index_of_element}
#'John' is index 0
#'Leila' is index 1

In [100]:
print (Participants[1])

Leila

In [102]:
#you have accessed the list by indexing the value 1 = extract the 2nd of the elements in this list variable

In [ ]:
#in addition there is a way to get to the last item in the list start counting from the end towards the beginning then put a negative sign before the index but don't fall into the trap of beginning at zero

In [104]:
Participants[-1]

'Cate'

In [106]:
Participants[-2]

'Gregory'

In [ ]:
#Replacing items on the list

In [110]:
Participants[3]= 'Maria'
Participants

['John', 'Leila', 'Gregory', 'Maria']

In [112]:
#Gregory also quit but in this case, there is  no one to replace him
#del keyword removes an item from a list
#deleting an element changes the indexes of all successive elements.

In [114]:
del Participants[2]
Participants

['John', 'Leila', 'Maria']

In [116]:
Participants[2]

'Maria'

In [140]:
#adding anew participant to the list you use the .append()method

In [144]:
Participants.append("Dwayne")
Participants

['John', 'Leila', 'Maria', 'Dwayne', 'Dwayne']

In [146]:
del Participants[3]

In [148]:
Participants

['John', 'Leila', 'Maria', 'Dwayne']

In [ ]:
#you can also get the same results by using the .extend function for example lets invite George and Catherine into our group

In [150]:
Participants.extend(['George', 'Catherine'])
Participants

['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine']

In [152]:
#list elements are directly treated as string values

In [158]:
print ('The first participant is' + Participants [0] +'.')

The first participant isJohn.

In [ ]:
#len function can obtain the number of elements in a list.

In [166]:
len(Participants)

6

In [120]:
Numbers = ['10', '25', '40', '50']
Numbers [2]

'40'

In [128]:
Numbers[0] = '15'
Numbers

['15', '25', '40', '50']

In [168]:
Numbers =[15, 40, 50]
Numbers

[15, 40, 50]

In [170]:
Numbers.append(100)

In [172]:
Numbers

[15, 40, 50, 100]

In [178]:
Numbers.extend([115,140])
Numbers

[15, 40, 50, 100, 115, 140]

In [180]:
print ("The fourth element of the Numbers list is", Numbers[3])

The fourth element of the Numbers list is 100

In [182]:
len(Numbers)

6