In [1]:
#Iteration for loops

In [3]:
even = [0,2,4,6,8,10,12,14,16,18,20]

In [13]:
#for n in even: means for every element n in the list even:
#n is the loop variable it's not a must for it to be n
#print(n) acts as the body of the loop it should be indented to run the loop properly
#The operation in the loops body is performed once for each element in the even list

In [15]:
#if you wish to see the elements in a single line then print (n, end = " ")
# for normal print  (n)

In [11]:
for n in even:
    print (n, end = " ")

0 2 4 6 8 10 12 14 16 18 20

In [9]:
print (n, end =" ")

20

In [17]:
digits = [0,1,2,3,4,5,6,7,8,9]
for d in digits:
    print (d, end = " ")

0 1 2 3 4 5 6 7 8 9

In [23]:
#while loops and incrementing
#one has to be very careful to prevent the computer from running an infinite loop and thus crashing
#in this case we have to bind x to x + 2

In [ ]:
# Adding the same number on top of an existing variable  during the loop is called incrementing
#The amount being added is called an increment in this case 2
# x += 2 are keys that can indicate incrementing

In [25]:
x = 0
while x <=20:
    print (x, end = " ")
    x = x + 2

0 2 4 6 8 10 12 14 16 18 20

In [ ]:
# Create a while loop that will print all odd numbers from 0 to 30 on the same row.?? 
#was unable to

In [ ]:
x = 0
while x % 2 != 0:
        print (x, end = " ")
        x <= 30

In [ ]:
#create lists with the range function

In [ ]:
#Later on in the course we will be able to randomize datapoints and that is when we will use pythons range function
#We can therefore create a python range object
#range ( start, stop, step) 
#This function creates a range of objects
#start = the first number in the list
#stop = the last value + 1
#step = the distance between each 2 consecutive values
#The stop value is a must but the start and step value are optional if not provided the start value is 0 and the step value is 1

In [ ]:
range(10)

In [ ]:
list(range(10))

In [ ]:
def list 10
list